# -----------------------------
# Prop J1939 DB
# -----------------------------
J1939_prop.dbc

# -----------------------------
# WireGuard & private keys
# -----------------------------
**/wg/keys/*
*.key
*.pem
*.pub
CLIENT/wg/keys/
SERVER/wg/keys/


# -----------------------------
# Logs
# -----------------------------
*.log
*.out
*.err
logs/*
**/logs/*
/logs/

# -----------------------------
# PCAPs & traffic captures
# -----------------------------
*.pcap
*.pcapng
pcaps/*
**/pcaps/*
SNIFFER/pcaps/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo

# -----------------------------
# Shell
# -----------------------------
*.swp
*.swo

# -----------------------------
# VirtualBox and VM metadata
# (just in case)
# -----------------------------
*.vbox
*.vbox-prev
*.vdi
*.vmdk


# -----------------------------
# OS Junk (macOS, Windows)
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Build artifacts
# -----------------------------
*.tmp
*.bak
*.old

# Editor cruft
*.swp
.idea/
.vscode/